<footer id="page-footer">
  <p>
    Copyright &copy; 2013
    <%= link_to 'Jordan Studios', 'https://www.youtube.com/watch?v=TLnw8qORqUg' %>
  </p>
  <p>
    For educational purposes only.
  </p>
</footer>
